body {
    background-color: rgba();(97, 97, 223);
    font: normal 15pt Arial;
}

header {
    color: black;
    text-align: center;
}

section {
    background-color: red;
    border-radius: 10px;
    padding: 1rem; 
    max-width: 40%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}

footer {
    color: black;
    text-align: center;
    font-style: italic;
}

@media(max-width: 800px) {
    body {
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
}

    section {
        height: 100%;
        max-width: 60%;
        padding: 1rem;
        line-height: 1.875rem;
        overflow-x: hidden;
        text-align: center;
    }

    #tabuada {
        align-items: center;
        overflow-y: auto;

    }
}

@media(max-width: 376px) {
    section {
        height: 100%;
        max-width: 80%;
    }
}